@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000dff;
  color: #fff;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero-gradient {
  background: linear-gradient(-45deg, #020c1b, #041127, #053CC7, #000e32);
  background-size: 300% 300%;
  animation: gradientMove 12s ease infinite;
}
.Contact {
  background: linear-gradient(-45deg, #020c1b, #041127, #053CC7, #000e32);
  background-size: 300% 300%;
  animation: gradientMove 12s ease infinite;
  
}
.bg-Services, .bg-About, .bg-Showreel, .bg-Team {
  background: linear-gradient(-45deg, #020c1b, #00112e);
  background-size: 300% 300%;
  animation: gradientMove 12s ease infinite;
}
.portfolio{
  background-color: #00081f;
 
}